<div class="loginForm">
    <div class="loginForm__container">
        <form action="" class="loginForm__form">
            <h2 class="loginForm__title">Вход</h2>
            <div class="loginForm__field">
                <input type="text" placeholder="Имя пользователя">
            </div>
            <div class="loginForm__field">
                <input type="password" placeholder="Введите пароль">
            </div>
            <div class="loginForm__field">
                <a href="#" class="loginForm__forgot">Забыли пароль?</a>
                <a href="/signup" class="loginForm__signup">Зарегистрироваться</a>
            </div>
            <div class="loginForm__field">
                <input type="submit" value="Продолдить">
            </div>
        </form>
    </div>
</div>
